<ul class="nav nav-pills">
      <div class="row"  style="background-color:#EEFDEF;">
      <div class="col-md-10">
      <li><h1><b style="margin-left: 20px;">KU Registeration</b></h1></li>
      </div>
      <div class="col-md-2">
       <li class="active" id="hello"><button ui-sref="login" class="button button1">Login</button></li>
      </div>
    </div>
  </ul>

<div class="col-md-10 col-md-offset-4">

<div class="panel panel-default" id="panel-login" style="width: 30%;">
  <div class="panel-body">
    <center><h2>Login</h2></center>
    <div ng-controller="LoginController as login"> 
    <form name="form" ng-submit="login.addTodo()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">StudentID</label>
            <input type="text" name="id" id="id" class="form-control" placeholder="StudentID" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">StudentID is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="pwd" id="pwd" class="form-control" placeholder="Password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
</div>
</div>
</div>
</div>